body {
  background-color: rgb(140, 211, 34);
  text-align: center;
  font-size: 18px;
  color: indigo;
  font-style: italic;
}

h1 {
  font-size: 5vw;
  text-emphasis-color: rgba(144, 0, 255, 0.819);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: blue;

}

h2 {
  font-size: 22px;
  text-emphasis-color: rgba(144, 0, 255, 0.819);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(234, 0, 255);

}

p {

  color: rgb(81, 0, 255);
  text-align: center;
  font-size: 22px;
  text-indent: 0px;

}

  ol

  {
  text-align: center;
  text-justify: auto;
  font: bolder;
  font-size: 16px;
  font-family: monospace;
  list-style-position: inside;
  list-style: square;
  
}

ul 

  { 
  text-align: center;
  text-justify: auto;
  font: bold;
  font-size: 16px;
  font-family: fantasy;
  list-style-position: inside;
  list-style: square;
  color: darkorange;
  
}

li {
    list-style: square;
 }


img {
  border-radius: 3vw;
  align-self: center;
  border: 29px;
  border-color: rgb(136, 0, 255);
  border-style: groove;
  max-width: 100%;
  height: auto;

}

