body {
  background-color: rgb(140, 211, 34);
  color: indigo;
  font-style: italic;
  text-align: center;
  font-weight: 600;

}

h1 {
  font-size: 3vw;
  text-emphasis-color: rgba(144, 0, 255, 0.819);
  text-decoration: underline;
  text-decoration-color: blue;
  text-align: center;
}

h2 {
  font-size: 2vw;
  text-emphasis-color: rgba(144, 0, 255, 0.819);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(234, 0, 255);

}

h3 {
  font-size: 2vw;
  color: navy;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(0, 187, 255);

}

p {

  font-size: 16px;
  text-align: center;

}

ol {
  text-align: center;
  font-size: 16px;
  font-family: Franklin Gothic medium;
  font-weight: bold;
  list-style-position: inside;
  list-style-type: decimal;
}

ul {
  font-size: 16px;
  font-family: cursive;
  color: rgb(170, 96, 5);
  list-style-position: inside;
  list-style-type: square;

}

img {
  border-radius: 100px;
  align-self: center;
  border: 22px;
  border-color: rgb(136, 0, 255);
  border-style: groove;
  max-width: 100%;
  height: auto;

}